/* 
    Created on : 5 oct. 2023, 11:56:24
    Author     : alexis
*/

hr {
    background-color: #212529;
}

#label-insert-photo {
    padding-top: 6%;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.hidden {
    display: none;
}

.medium-card {
    max-width: 260px;
}

.medium-image {
    width: 260px;
    height: 220px;
}

.small-text {
    font-size: 12px;
}

/* Perfil */

#titulo-perfil{
    display: inline;
}

#perfil_izquierda {
    float:left;
    border-right: 2px solid #DDDDDD;
    padding: 25px;
    margin: 25px;
}

#perfil_izquierda img{
    width: 300px;
    height: 200px;
}

#perfil_derecha {
    padding: 25px;
    margin: 25px;
}

.rotulo {
    display: block;
    float: left;
    width: 140px;
    font-size: 12px;
    color:#808080;
}

.valor {
    font-size: 12px;
}

/* ------------------------------ Tables styles ----------------------------- */
table thead th {
    color: #dddddd;
    text-align: center;
    border: solid 1px #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

table tbody td {
    text-align: center;
    border: solid 1px #dddddd;
    padding: 8px;
}
/* ---------------------------- End Tables styles --------------------------- */