/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 oct. 2023, 11:56:24
    Author     : alexis
*/

hr {
    background-color: #212529;
}

#label-insert-photo {
    padding-top: 6%;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.hidden {
    display: none;
}

.medium-image {
    width: 150px;
    height: 150px;
}

/* ------------------------------ Tables styles ----------------------------- */
table {
    background-color: #f8f9fa;
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
}

/*Selector que provee la opción de colorear una fila de por medio en una tabla*/
tr:nth-child(even) {
    /*El parámetro puede ser odd también*/
    background-color: #aaaaaa;
}

table thead th {
    color: #dddddd;
    text-align: center;
    border: solid 1px #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

table tbody td {
    text-align: center;
    border: solid 1px #dddddd;
    padding: 8px;
}
/* ---------------------------- End Tables styles --------------------------- */

/* Pagina de error */

.error {
    background-color:#FFEBE8;
    border: 2px solid #DD3C10;
    padding: 6px;
    margin-bottom: 15px;
}

#error_page {
    color: black;
}

#error_page .titulo_error {
    font-size: 4em;
    margin-left: 25px;
    margin-top: 20px;
    text-align: center;
}

#error_page .main {
    margin-bottom: 30px;
}

#error_page p {
    text-align: center;
}

/** Listar **/

#listar .usuario {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 10px;
    padding-bottom: 15px;
    width: 50%;
}

#listar .usuario:last-child {
    border-bottom: none;
}

#listar .usuario img {
    width: 60px;
    height: 60px;
}

#listar .usuario .email {
    display: block;
    font-size: 0.8em;
}
#listar .usuario .derecha {
    display: inline-block;
}

/* Perfil */

#perfil_izquierda {
    float:left;
    border-right: 2px solid #DDDDDD;
    padding: 25px;
    margin: 25px;
}

#perfil_izquierda img{
    width: 300px;
    height: 200px;
}

#perfil_derecha {
    padding: 25px;
    margin: 25px;
}

.rotulo {
    display: block;
    float: left;
    width: 140px;
    font-size: 12px;
    color:#808080;
}

.valor {
    font-size: 12px;
}