<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>turismouy</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaSalida</servlet-name>
        <servlet-class>controllers.salidas.Alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consulta</servlet-name>
        <servlet-class>controllers.salidas.Consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscripcion</servlet-name>
        <servlet-class>controllers.salidas.Inscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfInscripcion</servlet-name>
        <servlet-class>controllers.salidas.VerPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaActividad</servlet-name>
        <servlet-class>controllers.actividades.ConsultaActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaActividad</servlet-name>
        <servlet-class>controllers.actividades.AltaActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarActividad</servlet-name>
        <servlet-class>controllers.actividades.Finalizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>controllers.Busqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUsuario</servlet-name>
        <servlet-class>controllers.usuarios.AltaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaUsuario</servlet-name>
        <servlet-class>controllers.usuarios.ConsultaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificacionUsuario</servlet-name>
        <servlet-class>controllers.usuarios.ModificacionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaPaquete</servlet-name>
        <servlet-class>controllers.paquetes.ConsultaPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraPaquete</servlet-name>
        <servlet-class>controllers.paquetes.CompraPaquete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaSalida</servlet-name>
        <url-pattern>/altasalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta</servlet-name>
        <url-pattern>/consultasalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscripcion</servlet-name>
        <url-pattern>/inscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfInscripcion</servlet-name>
        <url-pattern>/pdfInscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaActividad</servlet-name>
        <url-pattern>/consultaactividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaActividad</servlet-name>
        <url-pattern>/altaactividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarActividad</servlet-name>
        <url-pattern>/finalizaractividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaUsuario</servlet-name>
        <url-pattern>/altausuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaUsuario</servlet-name>
        <url-pattern>/consultausuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificacionUsuario</servlet-name>
        <url-pattern>/modificacionusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaPaquete</servlet-name>
        <url-pattern>/consultapaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraPaquete</servlet-name>
        <url-pattern>/comprapaquete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/errorPages/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errorPages/404.jsp</location>
    </error-page>
    
</web-app>
