<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>turismouy</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>controllers.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUsuario</servlet-name>
        <servlet-class>controllers.usuarios.Alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaSalida</servlet-name>
        <servlet-class>controllers.salidas.Alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consulta</servlet-name>
        <servlet-class>controllers.salidas.Consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscripcion</servlet-name>
        <servlet-class>controllers.salidas.Inscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaActividad</servlet-name>
        <servlet-class>controllers.actividades.ConsultaActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaActividad</servlet-name>
        <servlet-class>controllers.actividades.AltaActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaUsuario</servlet-name>
        <url-pattern>/altausuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaSalida</servlet-name>
        <url-pattern>/altasalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta</servlet-name>
        <url-pattern>/consultasalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscripcion</servlet-name>
        <url-pattern>/inscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaActividad</servlet-name>
        <url-pattern>/consultaactividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaActividad</servlet-name>
        <url-pattern>/altaactividad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
